/* Navigation */ 
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 0.7rem;
    padding: 3pc 7px;
}

#home{
    height: 320px;
    padding: 3px 50px;
}

#home::before{
    height: 450px;

}

#home p{
    font-size: 15px;
    line-height: 100%;
}

#sevices{
    flex-direction: column;
}

#sevices .box{
    padding: 30px;
    margin: 2px;
    margin-bottom: 20px;
}

#products{
    flex-wrap: wrap;
}

#products img{
    width: 100px;
    height: auto;
}

#contact-box form{
    width: 80%;
}